language: csharp
os: linux
dotnet: 2.2

script:
- DOTNET_ROLL_FORWARD_ON_NO_CANDIDATE_FX=0 RuntimeFrameworkVersion=1.0.11 dotnet test -f netcoreapp1.0 src/StreamJsonRpc.Tests
- DOTNET_ROLL_FORWARD_ON_NO_CANDIDATE_FX=0 RuntimeFrameworkVersion=1.1.8  dotnet test -f netcoreapp1.0 src/StreamJsonRpc.Tests --no-build --no-restore
- DOTNET_ROLL_FORWARD_ON_NO_CANDIDATE_FX=0 RuntimeFrameworkVersion=2.0.7  dotnet test -f netcoreapp2.0 src/StreamJsonRpc.Tests
- DOTNET_ROLL_FORWARD_ON_NO_CANDIDATE_FX=0 RuntimeFrameworkVersion=2.1.0  dotnet test -f netcoreapp2.1 src/StreamJsonRpc.Tests
- dotnet test Problems.Tests

jobs:
 include:
  - dist: xenial
    env: DOTNETPATH=/home/travis/.dotnet LINUX=1
  - dist: bionic
    env: DOTNETPATH=/home/travis/.dotnet LINUX=1
  - os: osx
    env: DOTNETPATH=/Users/travis/.dotnet

install:
- export DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 DOTNET_CLI_TELEMETRY_OPTOUT=1
- if [ "$LINUX" ]; then sudo apt install libunwind8; fi
- wget https://dot.net/v1/dotnet-install.sh -O /tmp/dotnet-install.sh
- chmod +x /tmp/dotnet-install.sh
- /tmp/dotnet-install.sh -v 2.1.300
- /tmp/dotnet-install.sh -v 2.0.7 --shared-runtime
- /tmp/dotnet-install.sh -v 1.1.8 --shared-runtime
- /tmp/dotnet-install.sh -v 1.0.11 --shared-runtime
- export PATH=$DOTNETPATH:$PATH
- dotnet --info

